doctype html
html(lang="fr")
  head
    meta(charset="utf-8")
    |     
    meta(name="viewport", content="width=device-width, initial-scale=1")
    |     
    title Wib - Le Modèle
    |     
    link(rel="stylesheet", href="/stylesheets/modele.css")
    |     
    link(rel="icon", type="image/png", href="../images/Logo/icon_ext.png")
  body
    header
      #logo
        a(href="")
          img(src="../images/Logo/logo.png", alt="Logo Wib", title="Logo - Aller à l'accueil")
      |         
      nav(class="topnav" id="myTopnav")
          a(href="/", title="Accueil")
            p.lien Home
          |                 
          a(href="/recherche", title="Recherche")
            p.lien Recherche
          |                 
          a(href="/fiche", title="Fiche")
            p.lien Fiche
          |                 
          a(href="/apropos", title="A propos")
            p.lien A propos
    |     
    main
      article
        div(class='box')
          div(class='boxinfo')
            form(method="POST")
              if (typeof page === "undefined")
                td
              else
                h1 Nom du site : #{page.name}
                p Catégorie : #{page.type}
                | lien :
                label(name="domain_name",id="domain_name") #{page.domain_name}
                br
                br
                | description :
                textarea(name="description") #{page.description}
                input(type='submit', value="Modifier")
                br
                br
                a note fiabilité : #{page.fiabilite} /5
                br
                br
                a note cohérence : #{page.coherence} /5
          div(class='commentaires').boxlogo
            a(href="http://www.lemonde.fr/")
              //img(src="../images/Logo/LogoLeMonde.png", alt="Logo Le Monde", title="Logo Le Monde")
        |             
        div(class='box2')
          div(class='boxscreenshot')
            //img#myImg(src="../images/ScreenshotLeMonde.png", alt="Screenshot Le Monde")
            // The Modal
            #myModal.modal
              span.close ×
              |                         
              img#img01.modal-content
              |                         
              #caption
            |                     
            script(type="text/javascript", src="../scripts/modal.js")
          |                 
          div(class='avis')
            p Fiabilité
            |                 
            .rating.rating2
              //
              a(href="/page/#{page.name}/fiabilite/5", title="Give 5 stars") ★
              //
                                  
              a(href="/page/#{page.name}/fiabilite/4", title="Give 4 stars") ★
              //
                                  
              a(href="/page/#{page.name}/fiabilite/3", title="Give 3 stars") ★
              //
                                  
              a(href="/page/#{page.name}/fiabilite/2", title="Give 2 stars") ★
              //
                              
              a(href="/page/#{page.name}/fiabilite/1", title="Give 1 star") ★
            |           
            p Cohérence
            |                 
            .rating.rating2
              //
              a(href="/page/#{page.name}/coherence/5", title="Give 5 stars") ★
              //
                                  
              a(href="/page/#{page.name}/coherence/4", title="Give 4 stars") ★
              //
                                  
              a(href="/page/#{page.name}/coherence/3", title="Give 3 stars") ★
              //
                                  
              a(href="/page/#{page.name}/coherence/2", title="Give 2 stars") ★
              //
                              
              a(href="/page/#{page.name}/coherence/1", title="Give 1 star") ★
      form(action="/page/#{page.name}/commentaire", method="POST")
        div(class='commentaires')
          h2(nb_com="")
            if (typeof page.listCommentaire !== "undefined")
              | #{page.listCommentaire.length} Commentaires
            hr
          form(action="", method="POST")
            textarea(class='msg',name="texte", placeholder="Votre commentaire")
            input(value="Envoyer", type="submit")

      if (typeof page.listCommentaire === "undefined")
        td
      else
        each comm in page.listCommentaire
            div(class='comment')
              div(class='message')
                div(class='author')
                  a #{comm.pseudoAuteur} :
                  br
                a     #{comm.text}
            hr
          br
    br
    footer
      a#haut(href="#logo")  Haut de page
