doctype html
html(lang="fr")
  head
    meta(charset="utf-8")

    meta(name="viewport", content="width=device-width, initial-scale=1")

    title Wib - Le Modèle

    link(rel="stylesheet", href="/stylesheets/modele.css")

    link(rel="icon", type="image/png", href="../images/Logo/icon_ext.png")
  body
    include header.jade
    br
    main
      article
        div(class='box')
          div(class="description")
            form(method="POST")
              if (typeof page === "undefined")
                td
              else
                h1 #{page.name}
                p Catégorie : #{page.type}
                h1 Sujet : #{page.sujet}
                h1 Lien :
                a(name="domain_name",id="domain_name",href="#{page.domain_name}") #{page.domain_name}
                br
                br
                h1 Description :
                textarea(name="description",class="description") #{page.description}
                br
                div(id='commentaires')
                  input(type='submit', value="Modifier")

        div(class="box2")
          div(class="boxscreenshot")
            //img#myImg(src="../images/ScreenshotLeMonde.png", alt="Screenshot Le Monde")
            // The Modal
            div(id='#myModal' class='modal')
              span.close ×
              |                         
              img( id='img01' class='modal-content')
              |                         
              #caption
            |                     
            script(type="text/javascript", src="/scripts/modal.js")

          div(class='avis')
            p Fiabilité
            a note moyenne : #{page.fiabilite} /5
            |                 
            div(class="rating rating2")
              //
              a(href="/page/#{page.name}/fiabilite/5", title="Give 5 stars") ★
              //
                                  
              a(href="/page/#{page.name}/fiabilite/4", title="Give 4 stars") ★
              //
                                  
              a(href="/page/#{page.name}/fiabilite/3", title="Give 3 stars") ★
              //
                                  
              a(href="/page/#{page.name}/fiabilite/2", title="Give 2 stars") ★
              //
                              
              a(href="/page/#{page.name}/fiabilite/1", title="Give 1 star") ★
            |           
            p Cohérence
            a note moyenne : #{page.coherence} /5
            |                 
            div(class="rating rating2")
              //
              a(href="/page/#{page.name}/coherence/5", title="Give 5 stars") ★
              //
                                  
              a(href="/page/#{page.name}/coherence/4", title="Give 4 stars") ★
              //
                                  
              a(href="/page/#{page.name}/coherence/3", title="Give 3 stars") ★
              //
                                  
              a(href="/page/#{page.name}/coherence/2", title="Give 2 stars") ★
              //
                              
              a(href="/page/#{page.name}/coherence/1", title="Give 1 star") ★

      form(action="/page/#{page.name}/commentaire", method="POST")
      div(id='commentaires')
          h2()
            if (typeof page.listCommentaire !== "undefined")
              | #{page.listCommentaire.length} Commentaires
            hr
            textarea(class='msg',name="texte", placeholder="Votre commentaire")
            input(value="Envoyer", type="submit")

          if (typeof page.listCommentaire === "undefined")
          else
            each comm in page.listCommentaire
                div(class='comment')
                  div(class='message')
                    div(class='author')
                      a #{comm.pseudoAuteur} :
                      br
                    a(class='content')    #{comm.text}
                hr
              br
        br
    footer
      a#haut(href="#logo")  Haut de page
